.moneroLightOutstanding {
    background-color: red;
  }
  
.payment-xmr-short{
  color: #212121 !important;
  width: 72px;
  text-align: center;
  font-weight: bold;
  border-left: 0px!important;
  }


